{% block structure_widget %}
    <div id="structureApp">
      <structure-app name="{{ form.vars.full_name }}" save="{{ form.vars.ea_vars.field.customOptions.get('save')|default('null') }}" value="{{ form.vars.value|default('[]') }}" id="{{ form.vars.id }}" media="{{ form.vars.ea_vars.field.customOptions.get('mediaEndpoint') }}" widgets='{{ form.vars.ea_vars.field.customOptions.get('widgets')|default('[]') }}'>
    </div>
{% endblock %}